<div class="col-md-8 offset-md-1">
      <h2>Followers Users</h2>
   <% if @users.count != 0 %>
    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
       <% @users.each do |user| %>
       <tr>
         <td><%= attachment_image_tag user,:profile_image, :size =>'60x60', format: 'jpeg', fallback: "japan2.jpg" %></td>
         <td><%= user.name %></td>
        <td>
          フォロー数: <%= user.followings.count %>
          フォロワー数: <%= user.followers.count %>
        </td>

         <td><%= link_to "Show", user_path(user.id) %></td>
       </tr>
       <% end %>
      </tbody>
     </table>
      <% else %>
          <p>ユーザーはいません</p>
        <% end %>
    </div>