
       <table class="table">
      <tr>
      <%= attachment_image_tag user,:profile_image, :size =>'60x60', format: 'jpeg', fallback: "japan2.jpg" %>
  　　<tr>
	  　<th>name</th>
	 　 <th><%= user.name %></th>
  　　</tr>
 　　  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
    </tr>
  </table>
<div class='row'>
<%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
    <h2 class="mt-3">New book</h2>
    <%= form_with model:book,url: books_path,local:true do |f| %>
  <div class="form-group">
    <label for="book_title">Title</label>
    <%= f.text_field :title %>
  </div>
  <div class="form-group">
    <label for="book_opinion">Opinion</label>
    <%= f.text_area :body %>
  </div>
  <div class="form-group">
    <%= f.submit 'Create Book' %>
  </div>
   <% end %>

