
  <div class="container px-5 px-sm-0">
    <div class="row">
      <div class="col-md-3">
        <h2>User info</h2>
        <%= render 'users/user',book:@book,user: current_user %>
      </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>

    <table class="table">
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
       <% @users.each do |user| %>
       <tr>
         <td><%= attachment_image_tag user,:profile_image, :size =>'60x60', format: 'jpeg', fallback: "japan2.jpg" %></td>
         <td><%= user.name %></td>
        <td>
        <% if @users.exists? %>
          フォロー数: <%= user.followings.count %>
          フォロワー数: <%= user.followers.count %>
        <% else %>
          <p>ユーザーはいません</p>
        <% end %>
        </td>
         <td>
         <% if current_user.following?(user) %>
          <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete %>
         <% else %>
          <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
         <% end %>
         </td>
         <td><%= link_to "Show", user_path(user.id) %></td>
       </tr>
       <% end %>
      </tbody>
     </table>
    </div>
   </div>
  </div>