<%= flash[:notice] %>

  <div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User info</h2>
       <%= render 'users/user',book:@new_book,user: @book.user %>
    </div>


    <div class="col-md-8 offset-md-1">
  		<h2>Book detail</h2>
  		<table class="table">
  		  <tbody>
  		  <tr>
         <td>
           <%= link_to user_path(@book.user) do %>
           <%= attachment_image_tag @book.user,:profile_image, :size =>'60x60', format: 'jpeg', fallback: "japan2.jpg" %>
	         <%= @book.user.name %>
	         <% end %>
         </td>
         <td>
           <%= link_to book_path(@book) do %>
           <%= @book.title %>
           <% end %>
         </td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
          <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success edit_book_#{@book.id}" %></td>
          <td><%= link_to 'Destroy', book_path(@book), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{@book.id}"%></td>
          <% end %>

            <td id="favorite_buttons_<%= @book.id %>">
             <%= render "favorites/favorite", book: @book %>
            </td>

          <td id="number_numbers<%= @book.id %>">
           <p><%= render "book_comments/number", book: @book %></p>
          </td>

        </tr>
      </tbody></table>
　　　<div id="comment_area<%= @book.id %>">
　　　    <%= render "book_comments/comment", book: @book %>
　　　</div>

          <%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
            <%= f.text_area :comment, rows:'5' %>
            <%= f.submit "送信する" %>
          <% end %>

    </div>
  </div>
  </div>

